= render 'header_component'
= render 'default_intervals', target: device_material_consumption_path
= render 'stat_menu'
= react_component 'DeviceStatExtended', { data: @all_stat, view: 'material' }, { prerender: false }
