= render 'header_component'
= render 'default_intervals', target: device_modes_path
= render 'stat_menu'
= react_component 'DeviceStatExtended', { data: @all_stat, view: 'modes' }, { prerender: false }
