- query = { end_date: params['end_date'], start_date: params['start_date'] }
- uris = { modes: device_modes_path(query), perfomance: device_perfomance_path(query), times: device_times_path(query), material: device_material_consumption_path(query) }
= render 'header_component'
= render 'default_intervals', target: device_path
= react_component 'DeviceStat', { data: @all_stat, uris: uris }, { prerender: false }
