sidebar#sidebar-nav
  ul#dashboard-menu
    = li_with_link_to_unles_current_with_class raw('<i class="fa fa-tachometer"></i><span>Дашбоард</span>'), "active", dashboard_path
    = li_with_link_to_unles_current_with_class raw('<i class="fa fa-tags"></i><span>Устройства</span>'), "active", devices_path

