.device-charts {
  margin: 20px 10px;
  height: 80px;
}

.ng-container {
  min-width: 1000px;
}

.charts--newdevice {
  z-index: 999 !important;
}

.charts {
  z-index: 1;
}

.timeline-nav {
  height: 190px;
  width: 100%;
  background: #f7f6f6;
  margin-top:  -25px;
  margin-bottom: 40px;
  -moz-box-shadow:    inset  0  8px 12px -14px #696868, 
                      inset  0 -8px 12px -14px #696868;
  -webkit-box-shadow: inset  0  8px 12px -14px #696868, 
                      inset  0 -8px 12px -14px #696868;
   box-shadow:        inset  0  8px 12px -14px #696868, 
                      inset  0 -8px 12px -14px #696868;
}

.max350 {
  max-width: 350px !important;
}

.unconfirmed-device {
  height: 60px;
  background: #e3e5e6;
  padding: 20px 0 0 20px;
  
}

.unconfirmed-device__message {
  font-size: 14px;

}

.devices {
  // max-width: 350px;
  display: table;
  ul {
    margin: 0;
    li {
      list-style: none;
      // display: table-row;
      margin-bottom: 35px;
    }
  }
  .device-icons {
    width: 50px;
    display: table-cell;
    text-align: left;
    li {
      margin-bottom: 15px;
    }
  }
  .device-data {
    display: table-cell;
    // width: 80%;
  }
  .device-name {
    text-transform: uppercase;
    font-size: 14px;
    // color: #598bc8;
    line-height: 1.4;
    margin-bottom: 5px;
    a {
      color: #598bc8;
    }
    a:hover {
      // color: #598bc8;
      border-bottom: 1px dotted #598bc8;
    }
  }
  .device-num {
    width: 20px;
    height: 20px;
    display: inline-block;
    background: #bec1c6;
    border-radius: 10px;
    font-size: 14px;
    text-align: center;
    color: #fff;
    line-height: 1.4;
    margin-left: 5px;
    cursor: pointer;
  }
  .device-num:hover, .device-num.hover {
    background: image-url("ico_circle_gear.png") center no-repeat;
    text-indent: -9999px;
  }
  .device-a {

  }
}

.batt-icon {
  background: image-url("ico_batt.png") no-repeat center;
  width: 21px;
  height: 12px;
  display: inline-block;
  margin-left: 5px;
}

.batt-icon.norm {
  background: image-url("ico_batt_norm.png") no-repeat center;
  width: 21px;
  height: 12px;
  display: inline-block;
  margin-left: 5px;
}

.add-device {
  // margin-top: 40px;
}
ul.errors-list {
  margin-top: 0;
  margin-bottom: 0;
  li {
    color: red;
  }
}
