.legend {
  width: 270px;
  height: 110px;
  position: fixed;
  // background: #404652;
  top: 40%;
  left: 0;
  z-index: 9999;
  color: #fff;
  padding: 10px;
  ul {margin: 0; margin-right: 8px;display: inline-block;}
  ul:first-child {
    width: 42%;
  }
  ul:last-child {width: 50%;}
  li {
    list-style: none;
    margin-bottom: 5px;
    div {
      display: inline-block;
    }
  }
  .l-color {
    width: 10px;
    height: 10px;
    margin-right: 5px;
    margin-bottom: -1px;
  }
  .l-st {
    width: 10px;
    height: 5px;
    margin-right: 5px;
    margin-bottom: -1px;
  }
  .l-green {
    background: #a4dc85;
  }
  .l-red {
    background: #f87e72;
  }
  .l-blue {
    background: #a1d1f3;
  }
  .l-brown {
    background: #eeb679;
  }
  .l-white {
    background: #fff;
  }
  .l-work {background: #e6d16d;margin-bottom: 3px;}
  .l-pause {background: #fd6349;margin-bottom: 3px;}
  .legend-bookmark {
    transform: rotate(-90deg);
    position: absolute;
    top: 46px;
    left: 224px;
    width: 110px;
    text-transform: uppercase;
    text-align: right;
    padding-right: 10px;
    cursor: pointer;
    div {
      float:left;
    }
    .l-title {
      float: right;
    }
    .l-colors {
      background: image-url('legend_colors.png') no-repeat center #d7d5d5;
      font-size: 0;
      width: 29px;
      height: 18px;
    }
  }
}

.l-hidden {
  margin-left: -270px;
}
.l-show {
  margin-left: 0;
}