.header {
  position: relative;
  // min-width: 1024px;
  -webkit-box-shadow: 0px 0px 2px 1px #eee;
    -moz-box-shadow: 0px 0px 2px 1px #eee;
         box-shadow: 0px 0px 2px 1px #eee;
}

.main {
  // min-width: 1024px;
  background: #f4f4f5;
  padding: 100px 0 10px 0;
}

.main-menu {
  // width: 1024px;
  margin: 0 auto;
  height: 215px;
  position: relative;
}

.buy-btn {
  // background: image-url('buy_btn_norm.png') no-repeat center;
  background-position: -5px -5px;
  display: inline-block;
  width: 110px;
  height: 110px;
  margin-top: 75px;
}

.buy-btn:hover {
  // background: image-url('buy_btn_over.png') no-repeat center;
  background-position: -127px -5px;
}

.register-btn {
  // background: image-url('register_btn_norm.png') no-repeat center;
  background-position: -249px -5px;
  display: inline-block;
  width: 110px;
  height: 110px;
  left: 450px;
}

.register-btn:hover {
  // background: image-url('register_btn_over.png') no-repeat center;
  background-position: -249px -127px;
}

.demo-btn {
  // background: image-url('demo_btn_norm.png') no-repeat center;
  display: inline-block;
  width: 110px;
  height: 110px;
  margin-top: 75px;
  background-position: -5px -127px;
}

.demo-btn:hover {
  // background: image-url('demo_btn_over.png') no-repeat center;
  background-position: -127px -127px;
}

.main-menu__buttons a {
  position: absolute;
  text-align: center;
  padding-top: 120px;
  text-transform: uppercase;
}

.main-menu {
  position: relative;
}

 .lang {
  float: right;
  position: absolute;
  top:10px;
  right: 10px;
  width: 120px;
  background: image-url("flag_ru.png") no-repeat left;
  padding-left: 20px;
 }

 .flag-ru {
  background: image-url("flag_ru.png") no-repeat left;
  display: inline-block;
  width: 45px;
  padding-left: 20px;
  padding-left: 20px;
 }



 .header .logo {
  // position: absolute;
  display: block;
  width: 200px;
  text-align: center;
  margin: 0 auto;
  background: #fff;
  height: 70px;
  box-shadow: 0 1px 2px -2px gray;
  position: relative;
  
 }

 .header .logo:after {
  content: '';
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 20px 100px 0 100px;
  border-color: #fff transparent transparent transparent;
  margin-top: 46px;
  display: block;
 }

.small-menu {
  width: 310px;
  margin: 30px auto 0;
  text-align: center;
  margin-bottom: 80px;
}


.small-menu a {
  text-transform: uppercase;
  display: inline-block;
  padding: 4px 6px;
}


.small-menu a:hover {
  background: #e5e8eb;
}

.small-menu li {
  list-style: none;
  display: inline-block;
  margin: 0 20px;
}

.login-menu {
  margin: 0 auto;
  width: 220px;
 }

.login-btn {
  background: image-url("enter_btn_norm.png") center no-repeat;
  display: block;
  height: 180px;
  width: 220px;
  // position: absolute;
  text-align: center;
  padding-top: 140px;
  text-transform: uppercase;
  // left: 50%;
}

.login-btn:hover {
  background: image-url("enter_btn_over.png") center no-repeat;
}

.footer {
  position: relative;
  // min-width: 1024px;
}

.footer .logo {
  margin: 0 auto;
  width: 160px;
  height: 80px;
}

.footer .logo a {
  position: absolute;
  top: -40px;
  display: block;
  background: #fff;
  width: 160px;
  text-align: center;
  text-transform: uppercase;
  height: 40px;
  padding: 10px 0 0 0;
}

.login-form input[type="text"] {
  height: 35px;
  width: 100%;
}

.login-form #password {
  background: image-url("ico_lock.png") no-repeat scroll 9px 9px #fff;
  padding-left:30px;
}

.login-form #login {
  background: image-url("ico_man.png") no-repeat scroll 7px 7px #fff;
  padding-left:30px;
}

.login-form input[type="submit"] {
  text-transform: uppercase;
  margin-bottom: 15px;
}

.login-menu h2 {
  font-size: 20px;
  text-align: center;
  text-transform: uppercase;
  color: #76b7e4;
  margin-bottom: 20px;
}

 .login-links {
  text-align: center;
  font-size: 12px;
    a {
      color: #598bc8;
    }
 }

 


.footer {
  -webkit-box-shadow: 0px 0px 2px 1px #eee;
    -moz-box-shadow: 0px 0px 2px 1px #eee;
         box-shadow: 0px 0px 2px 1px #eee;
  padding: 20px;
}

.main-menu-list a:hover {
  background: #9ba4b3 !important;
  cursor: pointer;
}

.main-menu {
  ul {
    li {
      position: relative;
      text-align: center;
    }
  }
  .main-menu-text {
    text-transform: uppercase;
    margin-top: 50px;
    display: block;
    margin-top: 120px;
  }
}


