.sprite {
    background-image: image-url("spritesheet.png");
    background-repeat: no-repeat;
    // display: block;
}

.sprite-buy_btn_norm {
    width: 112px;
    height: 112px;
    background-position: -5px -5px;
}

.sprite-buy_btn_over {
    width: 112px;
    height: 112px;
    background-position: -127px -5px;
}

.sprite-demo_btn_norm {
    width: 112px;
    height: 112px;
    background-position: -5px -127px;
}

.sprite-demo_btn_over {
    width: 112px;
    height: 112px;
    background-position: -127px -127px;
}

.sprite-register_btn_norm {
    width: 112px;
    height: 112px;
    background-position: -249px -5px;
}

.sprite-register_btn_over {
    width: 112px;
    height: 112px;
    background-position: -249px -127px;
}
