  <div class="row fullwidth">
    <div class="full-charts">
      <div class="full-chars__header">

        <div class="header__top" ng-include="'charts_header_top.html'"> 
        </div>

      </div>
      
    </div>
    <div class="row fullwidth">
      <div class="large-4 columns">
          <ctime-chart chart-data="ctimeData" legend="hide"></ctime-chart>
      </div>
      <div class="large-8 columns">
          <ctime-chart-full chart-data="ctimeDataFull"></ctime-chart-full>
      </div>
  </div> 
    