<div class='datetime-picker' style='top:{{datetimePicker.posY}}px; left:{{datetimePicker.posX}}px'>
  <div class="datetime-picker__header">
    <span class="header__close-btn"></span>
    <h4 class="header__title">{{datetimePicker.pickType == 'begin' ? 'Начало' : 'Конец'}} периода
    </h4>
  </div>

  <div class="datetime-picker__body">

    <div class="body__years">
      <span class="years__list-backward body__years__element"></span>

      <ul class="clearfix body__years__element">
        <li ng-repeat="year in datetimePicker.yearsList" class="years__year" ng-class="{ 'selected-year' : isSelectedYear(year) }" ng-click="changeSelectedDatetimeWithYear(year)"> {{year}}
        </li>
      </ul>

      <span class="years__list-forward body__years__element"></span>
    </div>

    <div class="body__calendar">

        
          <div class="calendar__monthname">
            <span class="monthname__list-backward monthname__element" ng-click="prevMonth()"></span>

            <div class="monthname__text monthname__element">
              {{datetimePicker.selectedDatetime | date: 'MMM yyyy'}}
            </div>

            <span class="monthname__list-forward monthname__element" ng-click="nextMonth()"></span>
          </div>
        


          <ul class="calendar__daynames clearfix">
            <li ng-repeat="dayname in datetimePicker.weekDaysList" class="calendar__dayname">
              {{dayname}}
            </li>
          </ul>
            
        <ul class="calendar__days clearfix">
          <li ng-repeat="day in calendar track by $index" class="calendar__day" ng-class="{ 'selected-day' : isSelectedDay(day), 'hol' : isHol(day) }" ng-click="changeSelectedDatetimeWithDay(day)">{{day.datetime | date: "d"}}
          </li>
          </ul>
        </ul>

    </div>

    <div class="body__time ">

      <div class="time__inner clearfix">
        <div class="time__hours">
          <label>Часы</label>
          <input name="hours" id="hours" type="number" class="time__hours_input" ng-model="selectedHours" >

          
        </div>
        
        <div class="time__mins">
          <label>Мин</label>
          <input name="mins" id="mins" type="number" class="time__mins_input" ng-model="selectedMinutes">

          
        </div>
      </div>
      


    </div>
  
  <div class="body__apply">
    <button>Применить</button>
  </div>

  </div>
</div>