<div class="datetime-range clearfix">
  <ul class="small-block-grid-3" >
    <li ng-click="showPicker($event, 'begin')" class="datetime-range__period-start">
      <ul>
        <li class="dr-day">
          {{lastLeftRunnerDatetime | date: 'dd'}}
        </li>
        <li class="dr-month">
          {{lastLeftRunnerDatetime | date: 'MMMM'}}
        </li>
        <li class="dr-year">
          {{lastLeftRunnerDatetime | date: 'yyyy'}}
        </li>
        <li class="dr-time">
          {{lastLeftRunnerDatetime | date: 'HH:mm'}}
        </li>
      </ul>
    </li>
    <li class="dr-arrow">
      <div class="ico-arrow-right-dark" ></div>
    </li>
    <li ng-click="showPicker($event, 'end')" class="datetime-range__period-end">
      <ul>
        <li class="dr-day">
          {{lastRightRunnerDatetime | date: 'dd'}}
        </li>
        <li class="dr-month">
          {{lastRightRunnerDatetime | date: 'MMMM'}}
        </li>
        <li class="dr-year">
          {{lastRightRunnerDatetime | date: 'yyyy'}}
        </li>
        <li class="dr-time">
          {{lastRightRunnerDatetime | date: 'HH:mm'}}
        </li>
      </ul>
    </li>
  </ul>
</div>