<table>
  <thead>
    <th>№</th>
    <th>Время сеанса связи</th>
    <th>Мех. Датчик</th>
    <th>Температура, &deg; С</th>
    <th>Состояние батареи, %</th>
    <th>Координаты</th>
  </thead>
  <tbody>
    <tr ng-repeat="state in inStates" ng-class="activeClass($index)" ng-click="setSelected($index)" class="state{{$index}}">
      <td>{{$index + 1}}</td>
      <td>{{state.datetime | date: "dd.MM.yyyy HH:mm:ss"}}</td>
      <td></td>
      <td>{{state.temp}}</td>
      <td>
        <batt v-batt="{{state.v_batt}}"></batt>
      </td>
      <td ng-bind-html="state.gis | gisConvert" class="gis-data"></td>
    </tr>
  </tbody>
</table>



