<table class="summary-table">
  <thead>
    <tr>
      <td rowspan="2">
        Группировка
        <select name="groupBy" id="groupBy" ng-model="groupBy" ng-options="opt.val as opt.name for opt in groupByOptions"></select>
      </td>
      <td colspan="4">
        <div class="cell-title">Режимы работы устройства,</div>
        <div class="cell-select">
          <select name="modessel" ng-model="modesDisplayIn" ng-options="opt.val as opt.name for opt in modesDisplayOptions"></select>
        </div>
      </td>
      <td colspan="3">
        <div class="cell-title">Производительность,</div>
        <div class="cell-select">
          <select name="perfsel" ng-model="perfDisplayIn" ng-options="opt.val as opt.name for opt in perfDisplayOptions"></select>
        </div>
      </td>
      <td colspan="3">
        Время цикла,
        <small>сек</small>
      </td>
      <td>
        Расход материала,
        <small>кг</small>
      </td>
    </tr>

    <tr class="factor-names">
      <td class="norm">H</td>
      <td class="acl">У</td>
      <td class="fail">C</td>
      <td class="idle">П</td>
      <td class="fact">Факт</td>
      <td class="pos">Пос</td>
      <td class="pop">Поп</td>
      <td class="sn">СН</td>
      <td class="ssu">ССУ</td>
      <td class="targ">Ц</td>
      <td class="cons">Факт</td>
    </tr>
  </thead>

  <tbody>
    <tr class="factor-values summary">
      <td>За весь период</td>
      <td class="norm">
        <span>{{tableTotal.sn}}</span>
      </td>
      <td class="acl">
        <span>{{tableTotal.sa}}</span>
      </td>
      <td class="fail">
        <span>{{tableTotal.sf}}</span>
      </td>
      <td class="idle">
        <span>{{tableTotal.si}}</span>
      </td>
      <td class="fact">{{tableTotal.fact}}</td>
      <td class="pos">{{tableTotal.pos}}</td>
      <td class="pop">{{tableTotal.pop}}</td>
      <td class="sn">{{tableTotal.ssn}}</td>
      <td class="ssu">{{tableTotal.ssu}}</td>
      <td class="targ">{{tableTotal.targ}}</td>
      <td class="cons">{{tableTotal.cons}}</td>
    </tr>


    <tr ng-repeat="row in tableData" ng-class-odd="'odd'" ng-class-even="'even'" class="factor-values">
      <td>{{row.date | date: "dd.MM.yyyy HH:mm"}}</td>

      <td class="norm">{{row.sn | number: 0}}</td>
      <td class="acl" >{{row.sa | number: 0}}</td>
      <td class="fail">{{row.sf | number: 0}}</td>
      <td class="idle">{{row.si | number: 0}}</td>

      <td class="fact">{{row.fact | number: 0}}</td>
      <td class="pos">{{row.pos | number: 0}}</td>
      <td class="pop">{{row.pop | number: 0}}</td>

      <td class="sn"  >{{row.ssn | number: 0}}</td>
      <td class="ssu" >{{row.ssu | number: 0}}</td>
      <td class="targ">{{row.targ}}</td>
      <td class="cons">{{row.cons | number: 0}}</td>
    </tr>

  </tbody>
</table>
