<table class="summary-table">
  <thead>
    <tr>
      <td rowspan="2">
        Группировка
        <select name="groupBy" id="groupBy" ng-model="groupModesBy" ng-options="opt.val as opt.name for opt in groupModesByOptions">
          
        </select>
      </td>
      <td colspan="4">
        <div class="cell-title">Режимы работы устройства,</div>
        <div class="cell-select">
          <select name="modessel" ng-model="modesDisplayIn" ng-options="opt.val as opt.name for opt in modesDisplayOptions"></select>
        </div>
      </td>
      <td colspan="3">
        <div class="cell-title">Производительность,</div>
        <div class="cell-select">
          <select name="perfsel" ng-model="perfDisplayIn" ng-options="opt.val as opt.name for opt in perfDisplayOptions"></select>
        </div>
      </td>
      <td colspan="3">
        Время цикла,
        <small>сек</small>
      </td>
      <td>
        Расход материала, 
        <small>кг</small>
      </td>
    </tr>

    <tr class="factor-names">
      <td class="norm">H</td>
      <td class="acl">У</td>
      <td class="fail">C</td>
      <td class="idle">П</td>
      <td class="fact">Факт</td>
      <td class="pos">Пос</td>
      <td class="pop">Поп</td>
      <td class="sn">СН</td>
      <td class="ssu">ССУ</td>
      <td class="targ">Ц</td>
      <td class="cons">Факт</td>
    </tr>
  </thead>

  <tbody>
    <tr class="factor-values summary">
      <td>За весь период</td>
      <td class="norm" ng-show="modesDisplayIn == 'cyclesInQt'">{{sumNorm}}</td>
      <td class="acl" ng-show="modesDisplayIn == 'cyclesInQt'">{{sumAcl}}</td>
      <td class="fail" ng-show="modesDisplayIn == 'cyclesInQt'">{{sumFail}}</td>
      <td class="idle" ng-show="modesDisplayIn == 'cyclesInQt'">{{sumIdle}}</td>

      <td class="norm" ng-show="modesDisplayIn == 'cyclesInPercent'">{{sumNormInPercent * 100 | number: 4}}</td>
      <td class="acl" ng-show="modesDisplayIn == 'cyclesInPercent'">{{sumAclInPercent * 100 | number: 4}}</td>
      <td class="fail" ng-show="modesDisplayIn == 'cyclesInPercent'">{{sumFailInPercent * 100 | number: 4}}</td>
      <td class="idle" ng-show="modesDisplayIn == 'cyclesInPercent'">{{sumIdleInPercent * 100 | number: 4}}</td>

      <td class="norm" ng-show="modesDisplayIn == 'timeInPercent'">{{timeNormInPercent * 100 | number: 4}}</td>
      <td class="acl"  ng-show="modesDisplayIn == 'timeInPercent'">{{timeAclInPercent * 100 | number: 4}}</td>
      <td class="fail" ng-show="modesDisplayIn == 'timeInPercent'">{{timeFailInPercent * 100 | number: 4}}</td>
      <td class="idle" ng-show="modesDisplayIn == 'timeInPercent'">{{timeIdleInPercent * 100 | number: 4}}</td>

      <td class="norm" ng-show="modesDisplayIn == 'timeInQt'">{{timeNorm / (60*60) | number: 4}}</td>
      <td class="acl"  ng-show="modesDisplayIn == 'timeInQt'">{{timeAcl / (60*60) | number: 4}}</td>
      <td class="fail" ng-show="modesDisplayIn == 'timeInQt'">{{timeFail / (60*60) | number: 4}}</td>
      <td class="idle" ng-show="modesDisplayIn == 'timeInQt'">{{timeIdle / (60*60) | number: 4}}</td>

      <td class="fact" ng-show="perfDisplayIn == 'cycles'">{{sumAll | number:0}}</td>
      <td class="fact" ng-show="perfDisplayIn == 'products'">{{sumAllInProducts | number:0}}</td>
      <td class="pos" ng-show="perfDisplayIn == 'cycles'">{{pos | number:0}}</td>
      <td class="pop" ng-show="perfDisplayIn == 'cycles'">{{pop | number:0}}</td>
       <td class="pos" ng-show="perfDisplayIn == 'products'">{{posInProducts | number:0}}</td>
      <td class="pop" ng-show="perfDisplayIn == 'products'">{{popInProducts | number:0}}</td>

      <td class="sn"  >{{svn | number:2}}</td>
      <td class="ssu" >{{ssu | number:2}}</td>
      <td class="targ">{{device.normal_cycle | number:2}}</td>
      <td class="cons">{{sumAll * device.material_consumption}}</td>
    </tr>

    
    <tr ng-repeat="mode in device.modes" ng-class-odd="'odd'" ng-class-even="'even'" class="factor-values" ng-hide="deviceModesGrouped">
      <td>{{mode.time | date: "dd.MM.yyyy HH:mm"}}</td>

      <td class="norm" ng-show="modesDisplayIn == 'cyclesInQt'">{{mode.norm}}</td>
      <td class="acl"  ng-show="modesDisplayIn == 'cyclesInQt'">{{mode.acl}}</td>
      <td class="fail" ng-show="modesDisplayIn == 'cyclesInQt'">{{mode.fail}}</td>
      <td class="idle" ng-show="modesDisplayIn == 'cyclesInQt'">{{mode.idle}}</td>

      <td class="norm" ng-show="modesDisplayIn == 'cyclesInPercent'">{{mode.norm / modeSumAll(mode) * 100 | number: 4}}</td>
      <td class="acl"  ng-show="modesDisplayIn == 'cyclesInPercent'">{{mode.acl / modeSumAll(mode) * 100 | number: 4}}</td>
      <td class="fail" ng-show="modesDisplayIn == 'cyclesInPercent'">{{mode.fail / modeSumAll(mode) * 100 | number: 4}}</td>
      <td class="idle" ng-show="modesDisplayIn == 'cyclesInPercent'">{{mode.idle / modeSumAll(mode) * 100 | number: 4}}</td>

      <td class="norm" ng-show="modesDisplayIn == 'timeInPercent'">{{mode.norm / modeTimeAll(mode) * 100 / 360 | number: 4}}</td>
      <td class="acl"  ng-show="modesDisplayIn == 'timeInPercent'">{{mode.acl / modeTimeAll(mode) * 100 / 360 | number: 4}}</td>
      <td class="fail" ng-show="modesDisplayIn == 'timeInPercent'">{{mode.fail / modeTimeAll(mode) * 100 / 360 | number: 4}}</td>
      <td class="idle" ng-show="modesDisplayIn == 'timeInPercent'">{{mode.idle / modeTimeAll(mode) * 100 / 360 | number: 4}}</td>

      <td class="norm" ng-show="modesDisplayIn == 'timeInQt'">{{mode.duration_norm / 360 | number: 4}}</td>
      <td class="acl"  ng-show="modesDisplayIn == 'timeInQt'">{{mode.duration_acl / 360 | number: 4}}</td>
      <td class="fail" ng-show="modesDisplayIn == 'timeInQt'">{{mode.duration_fail / 360 | number: 4}}</td>
      <td class="idle" ng-show="modesDisplayIn == 'timeInQt'">{{mode.duration_idle / 360 | number: 4}}</td>

      <td class="fact" ng-show="perfDisplayIn == 'cycles'">{{calcModePerfFact(mode) | number:0}}</td>
      <td class="pos" ng-show="perfDisplayIn == 'cycles'">{{calcModePerfPos(mode) | number:0}}</td>
      <td class="pop" ng-show="perfDisplayIn == 'cycles'">{{calcModePerfPop(mode) | number:0}}</td>

       <td class="fact" ng-show="perfDisplayIn == 'products'">{{calcModePerfFact(mode) * device.slot_number | number:0}}</td>
      <td class="pos" ng-show="perfDisplayIn == 'products'">{{calcModePerfPos(mode) * device.slot_number | number:0}}</td>
      <td class="pop" ng-show="perfDisplayIn == 'products'">{{calcModePerfPop(mode) * device.slot_number | number:0}}</td>


      <td class="sn"  >{{mode.duration_norm / mode.norm | number:2}}</td>
      <td class="ssu" >{{calcModeSsu(mode) | number: 2}}</td>
      <td class="targ">{{device.normal_cycle | number:2}}</td>
      <td class="cons">{{( mode.norm + mode.idle + mode.fail + mode.acl ) * device.material_consumption}}</td>
    </tr>


    <tr ng-repeat="mode in modesGrouped" ng-class-odd="'odd'" ng-class-even="'even'" class="factor-values" ng-show="deviceModesGrouped">
      <td>{{mode.time | date: "dd.MM.yyyy HH:mm"}}</td>

      <td class="norm" ng-show="modesDisplayIn == 'cyclesInQt'">{{mode.values.norm}}</td>
      <td class="acl"  ng-show="modesDisplayIn == 'cyclesInQt'">{{mode.values.acl}}</td>
      <td class="fail" ng-show="modesDisplayIn == 'cyclesInQt'">{{mode.values.fail}}</td>
      <td class="idle" ng-show="modesDisplayIn == 'cyclesInQt'">{{mode.values.idle}}</td>

      <td class="norm" ng-show="modesDisplayIn == 'cyclesInPercent'">{{mode.values.norm / modeSumAll(mode.values) * 100 | number: 4}}</td>
      <td class="acl"  ng-show="modesDisplayIn == 'cyclesInPercent'">{{mode.values.acl / modeSumAll(mode.values) * 100 | number: 4}}</td>
      <td class="fail" ng-show="modesDisplayIn == 'cyclesInPercent'">{{mode.values.fail / modeSumAll(mode.values) * 100 | number: 4}}</td>
      <td class="idle" ng-show="modesDisplayIn == 'cyclesInPercent'">{{mode.values.idle / modeSumAll(mode.values) * 100 | number: 4}}</td>

      <td class="norm" ng-show="modesDisplayIn == 'timeInPercent'">{{mode.values.norm / modeTimeAll(mode.values) * 100 / 360 | number: 4}}</td>
      <td class="acl"  ng-show="modesDisplayIn == 'timeInPercent'">{{mode.values.acl / modeTimeAll(mode.values) * 100 / 360 | number: 4}}</td>
      <td class="fail" ng-show="modesDisplayIn == 'timeInPercent'">{{mode.values.fail / modeTimeAll(mode.values) * 100 / 360 | number: 4}}</td>
      <td class="idle" ng-show="modesDisplayIn == 'timeInPercent'">{{mode.values.idle / modeTimeAll(mode.values) * 100 / 360 | number: 4}}</td>

      <td class="norm" ng-show="modesDisplayIn == 'timeInQt'">{{mode.values.duration_norm / 360 | number: 4}}</td>
      <td class="acl"  ng-show="modesDisplayIn == 'timeInQt'">{{mode.values.duration_acl / 360 | number: 4}}</td>
      <td class="fail" ng-show="modesDisplayIn == 'timeInQt'">{{mode.values.duration_fail / 360 | number: 4}}</td>
      <td class="idle" ng-show="modesDisplayIn == 'timeInQt'">{{mode.values.duration_idle / 360 | number: 4}}</td>

      <td class="fact" ng-show="perfDisplayIn == 'cycles'">{{calcModePerfFact(mode.values) | number:0}}</td>
      <td class="pos" ng-show="perfDisplayIn == 'cycles'">{{calcModePerfPos(mode.values) | number:0}}</td>
      <td class="pop" ng-show="perfDisplayIn == 'cycles'">{{calcModePerfPop(mode.values) | number:0}}</td>

       <td class="fact" ng-show="perfDisplayIn == 'products'">{{calcModePerfFact(mode.values) * device.slot_number | number:0}}</td>
      <td class="pos" ng-show="perfDisplayIn == 'products'">{{calcModePerfPos(mode.values) * device.slot_number | number:0}}</td>
      <td class="pop" ng-show="perfDisplayIn == 'products'">{{calcModePerfPop(mode.values) * device.slot_number | number:0}}</td>


      <td class="sn"  >{{mode.values.duration_norm / mode.values.norm | number:2}}</td>
      <td class="ssu" >{{calcModeSsu(mode.values) | number: 2}}</td>
      <td class="targ">{{device.normal_cycle | number:2}}</td>
      <td class="cons">{{( mode.values.norm + mode.values.idle + mode.values.fail + mode.values.acl ) * device.material_consumption}}</td>
    </tr>

    
  </tbody>
</table>