<ul>
  <li ng-class="{active: changedPeriod == 'custom'}">
    <a> Произвольный</a>
  </li>
  <li ng-class="{active: changedPeriod == 'today'}">
    <a ng-click="changePeriod('today')" > Сегодня</a>
  </li>
  <li ng-class="{active: changedPeriod == 'yesterday'}">
    <a ng-click="changePeriod('yesterday')"> Вчера</a>
  </li>
  <li ng-class="{active: changedPeriod == 'week'}">
    <a ng-click="changePeriod('week')"> Неделя</a>
  </li>
  <li ng-class="{active: changedPeriod == 'month'}">
    <a ng-click="changePeriod('month')"> Месяц</a>
  </li>
  <li ng-class="{active: changedPeriod == 'year'}">
    <a ng-click="changePeriod('year')"> Год</a>
  </li>
  <li ng-class="{active: changedPeriod == 'all'}">
    <a ng-click="changePeriod('all')"> Все время</a>
  </li>
</ul>